default: &default
  host: 127.0.0.1
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: spotirelease_development

test:
  <<: *default
  database: spotirelease_test
